<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="CaminhoDriverFirefox" value="C:\\Selenium\\FirefoxDriver\\" />
    <add key="CaminhoDriverChrome" value="C:\\Selenium\\ChromeDriver\\" />
    <add key="CaminhoDriverInternetExplorer" value="C:\\Selenium\\IEDriver\\" />
    <add key="CaminhoDriverEdge" value="C:\\Selenium\\EdgeDriver\\" />
    <add key="UrlTelaConversaoDistancias" value="http://localhost:51107/" />
  </appSettings>
  <specFlow>
    <language feature="pt-BR" />
    <unitTestProvider name="MSTest" />
  </specFlow>
</configuration>